:root {
    --branco: #FFF;
    --azul-marinho: #051D3B;

    --inter: 'Inter', sans-serif;
}

body {
    background-color: var(--azul-marinho);
    font-family: var(--inter);
}

.container {
    margin: 3.5rem 2rem 0 2rem;
}