:root {
    --branco: #FFF;
    --preto: #000;
    --grafite: #141414;
    --cinza-escuro: #2d415b;
    --prata: #b3bac4;
    --azul-marinho: #051D3B;
    --azul-agua: #5081FB;
    --azul-ceu: #7BA4FC;
    --azul-ceu-limpo:#96B9FD;
    --azul-claro: #6BD1FF;
    --vermelho: #FF5F56;
    --amarelo: #FFBD2E;
    --verde: #27C93F;

    --inter: 'Inter', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;
}

body {
    background-color: var(--azul-marinho);
    font-family: var(--inter);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--branco);
}

.middle_container {
    margin: 2rem 0 0.5rem 0;
}

.left_container {
    margin: 2rem 0 0.5rem 2rem;
}

.right_container {
    margin: 2rem 2rem 0.5rem 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.title {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    margin: 0;
}

::placeholder {
    color: var(--prata);
}

@media screen and (max-width:1439px) {
    .main {
        flex-direction: column;
    }
}

@media screen and (max-width:540px) {
    .right_container {
        margin: 2rem 1rem 0.5rem 0;
    }
}