:root {
    --branco: #FFF;
    --prata: #b3bac4;
    --azul-marinho: #051D3B;
    --azul-agua: #5081FB;

    --inter: 'Inter', sans-serif;
}

body {
    background-color: var(--azul-marinho);
    font-family: var(--inter);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--branco);
}

.middle_container {
    margin: 2rem 0 0.5rem 0;
}

.left_container {
    margin: 2rem 0 0.5rem 2.5rem;
}

.right_container {
    margin: 2rem 2.5rem 0.5rem 0;
}

.main {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    margin: 0;
}

::placeholder {
    color: var(--prata);
}