.header__logo {
    width: 25%;
}

.header__logo-bg {
    width: fit-content;
    border-radius: 8px;
    height: 56px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header--middle {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.header__navigation {
    display: flex;
    align-items: center;
}

.header__search {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    width: 100%;
    height: 56px;
    border: none;
    padding: 0 0 0 14px;
    color: var(--branco);
}

.header__search:hover {
    background: rgba(255, 255, 255, 0.24);
}

.header__profile {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.header__profile-bg {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 1rem 0.75rem 1rem 0.75rem;
    box-sizing: border-box;
    height: 56px;
}

.header__profile-bg:hover {
    background: rgba(255, 255, 255, 0.08);
}

.header__profile__photo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 0.5rem;
    object-fit: cover;
}

.header__profile__name {
    color: var(--branco);
}

.header__hamburguer-menu, .header__explorer {
    display: none;
}

/* tablet custom */
@media screen and (max-width:1440px) {
    .header__logo {
        width: initial;
    }

    .header--middle {
        width: 100%;
    }

    /* .header__navigation {
        background-color: red;
    } */

    .header__search {
        width: 100%;
        margin: 0 2.5rem 0 2.5rem;
    }

    .header__profile-bg {
        display: none;
    }

    .header__profile {
        width: initial;
    }

    .header__hamburguer-menu {
        display: inline;
    }

    .header__hamburguer-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        height: 48px;
        width: 48px;
    }

    .header__hamburguer-bg:hover {
        background: rgba(80, 129, 251, 0.08);
    }

    .header__hamburguer-bg:active {
        background: rgba(80, 129, 251, 0.16);
    }
}

@media screen and (max-width:540px) {
    .header--middle {
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
    }

    .header__navigation {
        display: none;
    }

    .header__explorer {
        display: inline;
    }

    .header__explorer-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        height: 48px;
        width: 48px;
    }

    .header__explorer-bg:hover {
        background: rgba(80, 129, 251, 0.08);
    }
}