.menu {
    width: 25%;
}

.menu ul {
    padding-left: 0;
    padding-right: 2.5rem;
    box-sizing: border-box;
}

.menu li {
    list-style-type: none;
    margin-bottom: 1rem;
}

.menu__editor, .menu__community {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
}

.menu__editor--active, .menu__community--active {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
}

.menu__img__bg {
    padding: 12px;
    background-color: rgba(80, 129, 251, 0.16);
    border-radius: 16px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__editor--active .menu__img__bg, .menu__community--active .menu__img__bg {
    background-color: var(--azul-agua);
}

.menu__editor__img, .menu__community__img {
    width: 24px;
    height: 14px;
    opacity: 0.56;
}

.menu__editor:hover .menu__editor__img, .menu__community:hover .menu__community__img {
    opacity: 0.72;
}

.menu__editor:active .menu__editor__img, .menu__community:active .menu__community__img {
    opacity: 1;
}

.menu__editor:hover .menu__img__bg, .menu__community:hover .menu__img__bg {
    background: rgba(80, 129, 251, 0.64);
}

.menu__editor:active .menu__img__bg, .menu__community:active .menu__img__bg {
    background: var(--azul-agua);
}

.menu__name {
    margin-left: 1rem;
    color: var(--branco);
    width: 100%;
}

.menu__editor .menu__name, .menu__community .menu__name {
    opacity: 0.56;
}

.menu__editor:hover .menu__name, .menu__community:hover .menu__name {
    opacity: 0.72;
}

.menu__editor:active .menu__name, .menu__community:active .menu__name {
    opacity: 1;
}

@media screen and (max-width:1440px) {
    .menu{
        display: none;
    }
}