.middle {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.screen {
    background-color: var(--azul-claro);
    border-radius: 8px;
    transition: background-color 0.8s;
    height: 366px;
}

.screen__area {
    background-color: var(--grafite);
    height:302px;
    margin: 2rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 8px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.screen__prompt {
    display: flex;
    justify-content: start;
}

.screen__dot {
    padding: 6px;
    border-radius: 50%;
    margin-right: 0.5rem;
    margin-bottom: 1.5rem;
}

.screen__dot-red {
    background-color: var(--vermelho);
}

.screen__dot-yellow {
    background-color: var(--amarelo);
}

.screen__dot-green {
    background-color: var(--verde);
}

.screen__editor {
    background-color: var(--grafite);
    resize: none;
    width: -webkit-fill-available;
    height: 100%;
    border: none;
    color: var(--branco);
    font-family: var(--roboto-mono);
    font-size: 14px;
    line-height: 18px;
}

.screen__vizualize {
    margin-top: 1.5rem;
    height: 56px;
    border-radius: 8px;
    height: 56px;
    border: none;
    padding: 0 14px 0 14px;
    color: var(--branco);
    background: rgba(80, 129, 251, 0.08);
}

.screen__vizualize:hover {
    background: rgba(80, 129, 251, 0.16);
}

.screen__vizualize:active {
    background: rgba(80, 129, 251, 0.16);
    border: 4px solid rgba(80, 129, 251, 0.24);
}

.screen__vizualize:focus {
    background: rgba(80, 129, 251, 0.16);
}

@media screen and (max-width:1440px) {
    .menu {
        order: 1;
    }

    .middle {
        width: initial;
        margin: 0 2rem 0 2rem;
    }
}

@media screen and (max-width:540px) {
    .middle {
        margin: 0 1rem 0 1rem;
    }

    .screen {
        height: 492px;
    }

    .screen__area {
        height: 428px;
    }
}
